<div class="container">

	<div class="panel panel-default">
	  <div class="panel-heading">RESUME</div>
	  <div class="panel-body">
	    <table class="table table-striped">
	    
		  <p>
		    <strong>Student Name & Number</strong>
		    <%= @resume.student_name %> & <%= @resume.student_no %> 
		  </p>

		  <p>
		    <strong>Programming Skills</strong>
		    <%= @resume.programming_skills %>
		  </p>

		  <p>
		    <strong>Contact information</strong>
		    <%= @resume.contact_information %>
		  </p>

		  <p>
		    <strong>List of subjects:</strong>
		    <%= @resume.list_of_subjects %>
		  </p>

		  <p>
		    <strong>Hobbies and interests</strong>
		    <%= @resume.hobbies_and_interests %>
		  </p>

	  	</table>

	  </div>
	</div>

</div>